extends ../layout

block styles
	link(rel='stylesheet', href='/stylesheets/account/create.css')

block content
	if hasErrors
		each message in messages
			p= message
	div.become
		form.left(method="POST")
			p Become a Member
			p.easy It's Easy...
			div.name
				label(for="name")  Name:
				input(type="text", name="name", id="name")
			div.username
				label(for="username") Username:
				input(type="text", name="username", id="username")
			div.password
				label(for="password") Password:
				input(type="text", name="password", id="password")
			div.phone
				label(for="phone") Phone:
				input(type="number", name="phone", id="phone")
			input(type="hidden", name="_csrf", value= csrfToken)
			button(type="submit")
				span REGISTER
				img(src="../images/rightArrow.png", alt="")
			a(href="/user/signin") Already have an account?
		.right
			p Follow Us
			div.icons
				div.social
					a(href="#")
						img.facebook(src="../images/social/facebook.png", alt="")
					a(href="#")
						img(src="../images/social/twitter.png", alt="")
					a(href="#")
						img.google(src="../images/social/google.png", alt="")
			div.error
				if hasErrors
					each e in messages
						p= messages
block scripts