extends ../layout

block styles
	link(rel='stylesheet', href='/stylesheets/account/login.css')

block content
	if hasErrors
		each message in messages
			p= message
	div.become
		form.left(method="POST")
			p Become a Member
				span Login
			p.easy It's Easy...
			div.username
				label(for="username") username:
				input(type="text", name="username", id="username", required)
			div.password
				label(for="password") Password:
				input(type="text", name="password", id="password", required)
			div.remember
				div.left
					input(type="checkbox", name="isRemember", id="isRemember")
					label(for="isRemember") Remember me
				div.right
					a(href="#") Forgot Password?
					span or
					a(href="/user/signup") Create an account
			input(type="hidden", name="_csrf", value= csrfToken)
			button(type="submit")
				span LOGIN
				img(src="../images/rightArrow.png", alt="")
block scripts