extends ../layout

block styles

block content
	if hasErrors
		each message in messages
			p= message
	div
		p hi, beacth
		hr
		ul(id="messages")
		form(id="chatform")
			input(id="m")
			button Send
	div#toRoom toRoom
	div.open(style="opacity: 0;")
		input(type='hidden', id="test", value="test")
		ul(id="messagesP")
		form(id="privateChat")
			input(id="msg")
			button Send
block scripts