extends ../layout

block styles

block content
	if hasErrors
		each message in messages
			p= message
	br
	div.setting
		a(href='/user/setting') Change Your Settings
	div
		p Your name is: 
			span= user.name
		p Your username is: 
			span= user.username
		p Your phone is: 
			span= user.phone
block scripts