extends ../layout

block styles
	link(rel='stylesheet', href='/stylesheets/section/events.css')

block content
	if hasErrors
		each message in messages
			p= message
	template(id="pagination-template")
		div.pagination
			div.rightInfo
				p Page: 
				div.pageCount
					ul
						li(v-if='hasFirst()')
							a(href='#', @click.prevent='changePage(1)') 1
						li(v-if='hasFirst()') ...  
						li(v-for='page in pages')
							a(href='#', @click.prevent='changePage(page)', :class='{ current: current == page }')
								| {{ page }}   
						li(v-if='hasLast()') ...  
						li(v-if='hasLast()')
							a(href='#', @click.prevent='changePage(totalPages)') {{ totalPages }}  
	div.common-block
		ul.small-size-menu(v-if="isWidthLTE700")
			li(:class='{ acitve: whichEventIsOpen == "all" }', @click="whichEventIsOpen = 'all'") All Events
			li(:class='{ acitve: whichEventIsOpen == "followings" }', @click="whichEventIsOpen = 'followings'") You joined events
		div.for-same-height
			span(ref="userId", v-show="false") #{userId}
			div.events(v-if="!isWidthLTE700 || whichEventIsOpen == 'all'")
				div.top
					h2(v-if="!isWidthLTE700") All events
					input.search(type="text", v-model.trim="search", placeholder="Search", @keyup.enter="addHashtag()")
					button(@click="addHashtag()") +
				ul.hashtags
					li(v-for="(hashtag, index) in hashtags", @click="delHashtag(index)") {{ hashtag }}
				div.event(v-for="(event, index) in events")
					p.event-title {{ event.title }}
					p.event-content {{ event.content }}
					div.event-time
						p {{ event.startEvent | normalizeDate }}
						p {{ event.endEvent | normalizeDate }}
					span.event-city {{ event.city }}, 
					span.event-followers-length {{ event.followers.length }} - фоловер
					br
					div.event-hashtags
						span(v-for="hashtag in event.hashtags", @click="addHashtag(hashtag)") # {{ hashtag }}
					br
					button(@click="joinToEvent(event['_id'], index); eventIsOpen = true").event-join Join to event
				pagination(:current='currentPage', :total='totalEvents', :per-page='perPage', @page-changed='fetchEvents')
			div.followings-events(v-if="!isWidthLTE700 || whichEventIsOpen == 'followings'")
				div.top 
					h2(v-if="!isWidthLTE700") You joined events
					p Твой город: 
						span #{city}
				div.event(v-for="(event, index) in followingsEvents")
					span(v-if="event.createdBy")
						div.for-del
							p.event-title {{ event.title }}
							div
								button(v-if="userId == event['createdBy']", @click="event.createdBy = false").event-change
									img(src="../images/edit.svg")
								button(@click="quitEvent(event['_id'], index)").event-quit
									img(src="../images/close.svg")
						p.event-content {{ event.content }}
						div.event-time
							p {{ event.startEvent | normalizeDate }}
							p {{ event.endEvent | normalizeDate }}
						span.event-city {{ event.city }}, 
						span.event-followers-length {{ event.followers.length }} - фоловер
						br
						div.event-hashtags
							span(v-for="hashtag in event.hashtags", @click="addHashtag(hashtag)") \#{{ hashtag }}
						br
						button(@click="joinToEvent(event['_id']); eventIsOpen = true").event-join Join to chat
					form.edit-event(v-else, @submit.prevent="updateEvent(index, event)")
						input(type="text", v-model.trim="event.title", ref="eventTitle")
						textarea(type="text", v-model.trim="event.content", ref="eventContent")
						input(type="text", v-model.trim="event.city", ref="eventCity") 
						span.event-followers-length  {{ event.followers.length }} - фоловер
						br
						div.event-hashtags
							div(v-for="(hashtag, hashtagIndex) in event.hashtags")
								input(type="text", v-model.trim="event.hashtags[hashtagIndex]")
							div(@click="addHashtagEdit(index)") +
						br
						button(type="submit", @click="event.createdBy = userId").submitEdit Change
			div#current-event(v-if="eventIsOpen")
				div#current-info
					div#for-del
						p#current-title {{ currentEvent.title }}
						button#close-event(@click="eventIsOpen = false")
							img(src="../images/close.svg")
					p#current-content {{ currentEvent.content }}
					span#event-city {{ currentEvent.city }} 
					span#event-followers-length {{ currentEvent.followers.length }} - фоловер
				div#current-chat
					ul#messages(ref="messages")
						li(v-for="message in currentEvent.messages", :class='{ newMessage: message.sender == "You" }') 
							span.sender {{ message.senderName }}: 
							span.message {{ message.message }}
					div
						input#m(autocomplete="off", v-model="currentMsg", @keyup.enter="sendMsg()")
						button.send-msg(@click="sendMsg()") SEND	
block scripts
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js")
	script(src="../javascripts/section/pagination.js")
	script(src="../javascripts/section/events.js")