extends ../layout

block styles
	link(rel='stylesheet', href='/stylesheets/section/events.css')

block content
	if hasErrors
		each message in messages
			p= message
	template(id="pagination-template")
		div.pagination
			div.rightInfo
				p Page: 
				div.pageCount
					ul
						li(v-if='hasFirst()')
							a(href='#', @click.prevent='changePage(1)') 1
						li(v-if='hasFirst()') ...  
						li(v-for='page in pages')
							a(href='#', @click.prevent='changePage(page)', :class='{ current: current == page }')
								| {{ page }}   
						li(v-if='hasLast()') ...  
						li(v-if='hasLast()')
							a(href='#', @click.prevent='changePage(totalPages)') {{ totalPages }}  
	div.common-block
		div.for-same-height
			div.events
				div.top
					h2 All events
					input.search(type="text", v-model.trim="search", placeholder="Search", @keyup.enter="addHashtag()")
					button(@click="addHashtag()") +
				ul.hashtags
					li(v-for="(hashtag, index) in hashtags", @click="delHashtag(index)") {{ hashtag }}
				div.event(v-for="(event, index) in events")
					p.event-title {{ event.title }}
					p.event-content {{ event.content }}
					span.event-city {{ event.city }}, 
					span.event-followers-length {{ event.followers.length }} - фоловер
					br
					button(@click="joinToEvent(event['_id'], index); eventIsOpen = true").event-join Join to event
			div.followings-events
				div.top 
					h2 You joined events
					p Твой город: 
						span= city
				div.event(v-for="(event, index) in followingsEvents")
					div.for-del
						p.event-title {{ event.title }}
						button(@click="quitEvent(event['_id'], index)").event-quit x
					p.event-content {{ event.content }}
					span.event-city {{ event.city }}, 
					span.event-followers-length {{ event.followers.length }} - фоловер
					br
					button(@click="joinToEvent(event['_id']); eventIsOpen = true").event-join Join to chat
			div#current-event(v-if="eventIsOpen")
				div#current-info
					p#current-title {{ currentEvent.title }}
					p#current-content {{ currentEvent.content }}
					span#event-city {{ currentEvent.city }} 
					span#event-followers-length {{ currentEvent.followers.length }} - фоловер
				div#current-chat
					ul#messages(ref="messages")
						li(v-for="message in currentEvent.messages", :class='{ newMessage: message.sender == "You" }') 
							span.sender {{ message.senderName }}: 
							span.message {{ message.message }}
					div
						input#m(autocomplete="off", v-model="currentMsg", @keyup.enter="sendMsg()")
						button(@click="sendMsg()") SEND	
		pagination(:current='currentPage', :total='totalEvents', :per-page='perPage', @page-changed='fetchEvents')
block scripts
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js")
	script(src="../javascripts/section/pagination.js")
	script(src="../javascripts/section/events.js")