extends ../layout

block styles
	link(rel='stylesheet', href='/stylesheets/section/people.css')

block content
	if hasErrors
		each message in messages
			p= message
	p(style="opacity: 0;")#myName= fuckYouser
	each user in users
		if fuckYouser !== user.username
			div.user
				p(style="opacity: 0;").username= user.username
				p.name= user.name
				p.phone= user.phone
				button.startMessaging(value= username) Start Messaging
	div#chat
		div.topDiv
			p#userChat Undefined
			button#close x
		ul(id="messages")
		form(id="privateChat")
			input(id="msg")
			button.sendMessage Send
block scripts