doctype html
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles
	body
		div.menu
			a(href="/") Home Page
			span ---
			a(href="/user/profile") My Profile 
			span ---
			a(href="/people") People
			span ---
			a(href="/user/logout") Logout
			span ---
		block content
		script(src='/socket.io/socket.io.js')
		script(src="https://code.jquery.com/jquery-1.11.1.js")
		script(src='/javascripts/socket.js')
		block scripts