doctype html
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles
	body
		div.menu
			ul
				li
					a(href="/user/profile") Home Page
				li
					a(href="/people") People
				li
					a(href="/events") Events
				li
					a(href="/create-event") Create Event
				li
					a(href="/user/logout") Logout
		div.main-block
			block content
		script(src='/socket.io/socket.io.js')
		// script(src='/javascripts/socket.js')
		script(src="https://cdn.jsdelivr.net/npm/vue")
		script(src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js")
		block scripts