.common-block {
  width: auto;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  background-color: #E8E2FD; }
  .common-block .for-same-height {
    display: inline-flex; }
    .common-block .for-same-height #current-event {
      width: 50%;
      display: flex;
      flex-direction: column;
      position: fixed;
      height: 100%;
      left: 50%; }
      .common-block .for-same-height #current-event #for-del {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .common-block .for-same-height #current-event #for-del #close-event {
          padding: 5px 10px;
          background-color: white;
          border: 1px solid #FF0000;
          width: 25px;
          height: 25px;
          cursor: pointer;
          background-image: url("../../images/close.svg");
          background-position: center;
          background-size: 70% 70%;
          background-repeat: no-repeat; }
          .common-block .for-same-height #current-event #for-del #close-event img {
            width: 100%;
            height: 100%; }
      .common-block .for-same-height #current-event #current-chat {
        height: 100%; }
        .common-block .for-same-height #current-event #current-chat ul {
          height: 70%;
          width: 90%;
          list-style-type: none;
          overflow-y: auto; }
          .common-block .for-same-height #current-event #current-chat ul .newMessage {
            background-color: #9A71FF; }
          .common-block .for-same-height #current-event #current-chat ul li {
            display: flex;
            flex-direction: column;
            line-height: 20px;
            margin-bottom: 10px;
            padding: 5px;
            width: 90%; }
            .common-block .for-same-height #current-event #current-chat ul li span {
              font-size: 18px;
              color: black;
              text-decoration: none; }
            .common-block .for-same-height #current-event #current-chat ul li .message {
              margin-left: 20px; }
      .common-block .for-same-height #current-event div {
        width: 100%; }
        .common-block .for-same-height #current-event div input {
          width: 80%;
          padding: 10px;
          border: 1px solid #6C3FFF;
          border-radius: 3px; }
        .common-block .for-same-height #current-event div .send-msg {
          background-color: #6C3FFF;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          color: #E8E2FD; }
    .common-block .for-same-height .events {
      border-right: 1px solid #6C3FFF;
      width: 20%; }
      .common-block .for-same-height .events .top {
        display: flex;
        width: 100%;
        align-items: center; }
        .common-block .for-same-height .events .top .search {
          width: 60%;
          margin-left: 10px;
          border: 1px solid #6C3FFF;
          border-radius: 3px;
          padding: 5px;
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 18px; }
      .common-block .for-same-height .events .hashtags {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap; }
        .common-block .for-same-height .events .hashtags li {
          cursor: pointer;
          margin-right: 5px;
          padding: 5px 10px;
          background-color: white;
          border-radius: 3px;
          border: 1px solid #6C3FFF; }
    .common-block .for-same-height .followings-events {
      width: 20%;
      height: auto; }
      .common-block .for-same-height .followings-events .event span .event-content {
        margin-top: 0px; }
      .common-block .for-same-height .followings-events .event span .for-del {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end; }
        .common-block .for-same-height .followings-events .event span .for-del div {
          display: flex; }
          .common-block .for-same-height .followings-events .event span .for-del div .event-quit {
            margin-right: 30px;
            background-color: white;
            border: 1px solid #FF0000;
            width: 25px;
            height: 25px;
            cursor: pointer; }
            .common-block .for-same-height .followings-events .event span .for-del div .event-quit img {
              width: 100%;
              height: 100%; }
          .common-block .for-same-height .followings-events .event span .for-del div .event-change {
            background-color: lightgreen;
            border: 1px solid grey;
            width: 25px;
            height: 25px;
            cursor: pointer; }
            .common-block .for-same-height .followings-events .event span .for-del div .event-change img {
              width: 100%;
              height: 100%; }
      .common-block .for-same-height .followings-events .event .edit-event {
        width: 100%; }
        .common-block .for-same-height .followings-events .event .edit-event input {
          padding: 5px;
          border: 1px solid #6C3FFF;
          border-radius: 3px;
          width: 50%;
          margin-top: 5px; }
        .common-block .for-same-height .followings-events .event .edit-event textarea {
          width: 90%;
          border: 1px solid #6C3FFF;
          border-radius: 3px;
          margin-top: 5px; }
        .common-block .for-same-height .followings-events .event .edit-event .event-hashtags {
          display: inline-flex;
          flex-wrap: wrap; }
          .common-block .for-same-height .followings-events .event .edit-event .event-hashtags div {
            width: 60px; }
            .common-block .for-same-height .followings-events .event .edit-event .event-hashtags div input {
              width: 70%; }
          .common-block .for-same-height .followings-events .event .edit-event .event-hashtags button {
            background-color: white;
            border: 1px solid #6C3FFF;
            padding: 5px; }
        .common-block .for-same-height .followings-events .event .edit-event .submitEdit {
          background-color: #6C3FFF;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
          color: #E8E2FD; }
    .common-block .for-same-height .events, .common-block .for-same-height .followings-events {
      display: flex;
      flex-direction: column;
      padding-left: 2.5%;
      border-right: 1px solid #6C3FFF; }
      .common-block .for-same-height .events .event, .common-block .for-same-height .followings-events .event {
        width: 100%;
        height: auto;
        scroll-y: auto; }
        .common-block .for-same-height .events .event .for-del .event-title, .common-block .for-same-height .followings-events .event .for-del .event-title {
          font-size: 24px;
          margin-bottom: 1px; }
        .common-block .for-same-height .events .event .event-title, .common-block .for-same-height .followings-events .event .event-title {
          font-size: 24px;
          margin-bottom: 1px; }
        .common-block .for-same-height .events .event .event-content, .common-block .for-same-height .followings-events .event .event-content {
          margin-bottom: 10px;
          margin-top: 10px; }
        .common-block .for-same-height .events .event .event-time, .common-block .for-same-height .followings-events .event .event-time {
          width: 80%;
          display: flex;
          justify-content: space-between; }
          .common-block .for-same-height .events .event .event-time p, .common-block .for-same-height .followings-events .event .event-time p {
            display: inline-block;
            background-color: white;
            border: 1px solid #6C3FFF;
            padding: 5px;
            border-radius: 3px;
            margin-bottom: 5px;
            margin-top: 0px; }
        .common-block .for-same-height .events .event .event-join, .common-block .for-same-height .followings-events .event .event-join {
          background-color: #6C3FFF;
          color: #E8E2FD;
          border-radius: 5px;
          padding: 5px 10px;
          align-self: flex-start;
          cursor: pointer; }
        .common-block .for-same-height .events .event .event-hashtags, .common-block .for-same-height .followings-events .event .event-hashtags {
          display: inline-flex;
          margin-top: 5px;
          margin-bottom: 5px;
          flex-wrap: wrap; }
          .common-block .for-same-height .events .event .event-hashtags span, .common-block .for-same-height .followings-events .event .event-hashtags span {
            border: 1px solid #6C3FFF;
            display: inline-block;
            padding: 3px 5px;
            background-color: white;
            border-radius: 3px;
            margin-right: 5px;
            cursor: pointer; }
  .common-block .pagination {
    width: 40%;
    display: flex;
    justify-content: space-between; }
    .common-block .pagination .rightInfo {
      display: flex; }
      .common-block .pagination .rightInfo .pageCount ul {
        display: flex;
        list-style-type: none; }
        .common-block .pagination .rightInfo .pageCount ul li {
          margin-right: 5px; }
          .common-block .pagination .rightInfo .pageCount ul li a {
            color: #6C3FFF;
            text-decoration: none; }
          .common-block .pagination .rightInfo .pageCount ul li .current {
            text-decoration: underline; }

@media (max-width: 1200px) {
  body {
    padding: 5px; }
    body .common-block {
      padding-left: 1%; }
      body .common-block .for-same-height .events .hashtags {
        height: auto;
        padding: 5px; }
      body .common-block .for-same-height .events .event {
        margin-bottom: 15px; }
        body .common-block .for-same-height .events .event .event-title {
          margin-top: 5px; } }

@media (max-width: 1000px) {
  .common-block .for-same-height .events {
    width: 50%; }
  .common-block .for-same-height .followings-events {
    width: 50%; }
  .common-block .for-same-height #current-event {
    z-index: 1000;
    width: 90%;
    height: 100%;
    background-color: #E8E2FD;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0px 5%; }
    .common-block .for-same-height #current-event #current-chat {
      padding: 0px 5%;
      width: 90%; }
      .common-block .for-same-height #current-event #current-chat ul {
        height: 80%; } }

@media (max-width: 700px) {
  body {
    padding: 0px; }
    body .common-block .small-size-menu {
      list-style-type: none;
      display: flex;
      padding-left: 0px; }
      body .common-block .small-size-menu li {
        display: block;
        width: 50%;
        text-align: center;
        cursor: pointer; }
      body .common-block .small-size-menu .acitve {
        text-decoration: underline; }
    body .common-block .for-same-height .events, body .common-block .for-same-height .followings-events {
      width: 80%;
      border: 0px; }
    body .common-block .for-same-height .events .top .search {
      width: 100%; }
    body .common-block .for-same-height #current-event div input {
      width: 70%; }
    body .common-block .for-same-height #current-event #current-chat ul {
      height: 70%; } }

/*# sourceMappingURL=events.css.map */