.common-block {
  width: auto;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  background-color: #E8E2FD; }
  .common-block .for-same-height {
    display: flex; }
  .common-block .users, .common-block .followings-users {
    width: 50%;
    display: flex;
    flex-direction: column;
    max-height: 1800px;
    overflow-y: auto; }
    .common-block .users .top, .common-block .followings-users .top {
      display: flex;
      width: 100%;
      align-items: center; }
      .common-block .users .top .search, .common-block .followings-users .top .search {
        width: 60%;
        margin-left: 10px;
        border: 1px solid #6C3FFF;
        border-radius: 3px;
        padding: 5px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 18px; }
    .common-block .users .user, .common-block .followings-users .user {
      width: 50%;
      height: 200px;
      scroll-y: auto; }
      .common-block .users .user .for-del, .common-block .followings-users .user .for-del {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .common-block .users .user .for-del .user-quit, .common-block .followings-users .user .for-del .user-quit {
          align-self: center;
          margin-right: 30px;
          background-color: white;
          border: 1px solid #FF0000;
          color: #FF0000;
          cursor: pointer;
          transition: all .3s linear; }
          .common-block .users .user .for-del .user-quit:hover, .common-block .followings-users .user .for-del .user-quit:hover {
            transform: scale(1.3, 1.3);
            color: white;
            border: 1px solid #FF0000;
            background-color: #FF0000; }
      .common-block .users .user .user-name, .common-block .followings-users .user .user-name {
        font-size: 24px; }
      .common-block .users .user .user-join, .common-block .followings-users .user .user-join {
        background-color: #6C3FFF;
        color: #E8E2FD;
        border-radius: 5px;
        padding: 5px 10px;
        align-self: flex-start;
        cursor: pointer; }
  .common-block .pagination {
    width: 40%;
    display: flex;
    justify-content: space-between; }
    .common-block .pagination .rightInfo {
      display: flex; }
      .common-block .pagination .rightInfo .pageCount ul {
        display: flex;
        list-style-type: none; }
        .common-block .pagination .rightInfo .pageCount ul li a {
          color: #6C3FFF;
          text-decoration: none; }
        .common-block .pagination .rightInfo .pageCount ul li .current {
          text-decoration: underline; }

@media (max-width: 700px) {
  body {
    padding: 0px; }
    body .common-block .small-size-menu {
      list-style-type: none;
      display: flex;
      padding-left: 0px; }
      body .common-block .small-size-menu li {
        display: block;
        width: 50%;
        text-align: center;
        cursor: pointer; }
      body .common-block .small-size-menu .acitve {
        text-decoration: underline; }
    body .common-block .for-same-height .users, body .common-block .for-same-height .followings-users {
      width: 80%;
      border: 0px; }
      body .common-block .for-same-height .users .user, body .common-block .for-same-height .followings-users .user {
        width: auto; } }

/*# sourceMappingURL=people.css.map */